@import './base.css';
/* these are necessary styles for vue flow */
@import '@vue-flow/core/dist/style.css';

/* this contains the default theme, these are optional styles */
@import '@vue-flow/core/dist/theme-default.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}
@media (min-width: 1024px) {
}
